*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.section{
    width: 100%;
    height: 100vh;
    background: #ebeeef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 670px;
    height: 557px;
    background: #ebeeef;
    box-shadow: 4px 4px 12px 3px #b2b6b8;
    border-radius: 10px;
 

   
}
.container .top{
    width: 100%;
    height: 180px;
   background:linear-gradient(to top left,rgba(94,115,125,0.4),rgba(94, 115, 125, 0.555)),url('../imga.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #ebeeef;
}
 .bottom{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;}
     


.bottom .box{
   width: 565px;
    height: 270px;
    
}

.box{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box box-1{
    width: 510px;
    height: 56px;
}
.box-1 input{
    width: 390px;
    height: 42px;
    margin: 0 0 18px 10px;
    padding-left: 20px;
    background: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    border-bottom: 2px solid #b2b2b2;
    caret-color: rgb(52, 211, 118);
    transition: all 0.3s linear;
}
.box-1 span{
    font-size: 17px;
    font-family: sans-serif;
    color: #8d8c8c;
}
.box-1 input:focus{
    color: #393a39;
    border-bottom: 2px solid #57b846;
}
.box-2{
    width: 407px;
    height: 58px;
    margin-left: 100px;

}
.box-2 #s-1{
    margin-left: 5px;
}
#s-2{
    float: right;
}
#s-1,#s-2{
    
    text-decoration: none;
    font-family: sans-serif;
    color: #878585;
}

.box-3{
    width:410px;
    height: 52px;
  display: flex;
  justify-content: center;
 margin-left: -180px;
}

button{
    padding: 8px 60px;
    background: #57b846;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(236, 235, 235);
}